In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import os

In [2]:
# load data from file

df = pd.read_csv("/Users/brown/Downloads/aqi.csv")

In [3]:
# Overview of structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10116546 entries, 0 to 10116545
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   _id                     int64
 1   datetime_est            object
 2   site                    object
 3   parameter               object
 4   is_valid                object
 5   report_value            float64
 6   unit                    object
 7   unit_description        object
 8   highest_flag            object
 9   aqs_parameter_category  object
dtypes: float64(1), int64(1), object(8)
memory usage: 771.8+ MB

In [4]:

# Look at the first few rows
df.head()

,_id,datetime_est,site,parameter,is_valid,report_value,unit,unit_description,highest_flag,aqs_parameter_category
0,1,2016-01-01T00:00:00,Lincoln,PM25,t,3.000,UG/M3,micrograms per cubic meter,NaN,Particulate
1,2,2016-01-01T00:00:00,Lincoln,PER_F2,t,67.000,PERCENT,Percent,NaN,NaN
2,3,2016-01-01T00:00:00,Liberty,SO2,t,0.001,PPM,Parts Per Million,C,Criteria Pollutants
3,4,2016-01-01T00:00:00,Liberty,SONICWS,t,6.900,MPH,miles per hour,NaN,Meteorological
4,5,2016-01-01T00:00:00,Liberty,SONICWD,t,259.000,DEG,Degrees,NaN,Meteorological

In [5]:
# Descriptive statistics for numeric columns
df.describe()

                _id  report_value
count  1.011655e+07  8.537712e+06
mean   5.075763e+06  5.134890e+02
std    2.938486e+06  5.002255e+03
min    1.000000e+00 -2.034370e+04
25%    2.529137e+06  2.400000e+00
50%    5.058274e+06  1.670000e+01
75%    7.631409e+06  4.790000e+01
max    1.016082e+07  1.002960e+05

In [8]:
# get the list of unique sites
list_of_sites = df.site.unique().tolist()

In [10]:
list_of_sites

['Avalon',
 'Clairton',
 'Court House',
 'Flag Plaza',
 'Fulton St. Fridge',
 'Glassport High Street',
 'Harrison Township',
 'Lawrencevill00:00',
 'Lawrenceville',
 'Lawrenceville 2',
 'Liberty',
 'Liberty 2',
 'Lincoln',
 'North Braddock',
 'Opal Court',
 'Parkway East',
 'Pittsburgh',
 'South Fayette',
 'USS Clairton Sodar Site',
 'West Mifflin']

In [11]:
# Check for missing values in overall dataset
df.isnull().sum()

_id                             0
datetime_est                    0
site                            0
parameter                       0
is_valid                        0
report_value              1578834
unit                       215109
unit_description             2894
highest_flag              8322242
aqs_parameter_category    4884545
dtype: int64

In [12]:
# Check column types
df.dtypes

_id                         int64
datetime_est               object
site                       object
parameter                  object
is_valid                   object
report_value              float64
unit                       object
unit_description           object
highest_flag               object
aqs_parameter_category     object
dtype: object

In [13]:
# Check for duplicates
df.duplicated().sum()

0

In [40]:
# Quick look at categorical distributions
#df.select_dtypes(include='object').apply(pd.Series.value_counts)

Clean datetime_est column. Change it do datetime format

In [14]:
# Convert to datetime 
df['datetime_est'] = pd.to_datetime(df['datetime_est'])

# Check the min and max timestamps
df['datetime_est'].min(), df['datetime_est'].max()

(Timestamp('2016-01-01 00:00:00'), Timestamp('2025-04-13 08:00:00'))

Inputs in the data set range from 2016 to April 2025

In [15]:
list_of_sites

['Avalon',
 'Clairton',
 'Court House',
 'Flag Plaza',
 'Fulton St. Fridge',
 'Glassport High Street',
 'Harrison Township',
 'Lawrencevill00:00',
 'Lawrenceville',
 'Lawrenceville 2',
 'Liberty',
 'Liberty 2',
 'Lincoln',
 'North Braddock',
 'Opal Court',
 'Parkway East',
 'Pittsburgh',
 'South Fayette',
 'USS Clairton Sodar Site',
 'West Mifflin']

Explore and find out what 'Lawrencevill00:00' is

In [16]:
# load in the auxialliary dataset that contains info on the sites of collection

site_df = pd.read_csv("/Users/brown/Downloads/sensor_locations.csv")

In [17]:
# explore the site data
site_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               25 non-null     int64
 1   site_name         25 non-null     object
 2   description       22 non-null     object
 3   air_now_mnemonic  5 non-null      object
 4   address           20 non-null     object
 5   latitude          21 non-null     float64
 6   longitude         21 non-null     float64
 7   enabled           25 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.7+ KB

In [18]:
#view the first few rows
site_df.head()

,_id,site_name,description,air_now_mnemonic,address,latitude,longitude,enabled
0,6066,Fulton St. Fridge,Sample Fridge at 836 Fulton St. Room 117,NaN,"836 Fulton Street Pittsburgh, PA 15233",NaN,NaN,t
1,6067,Harrison Township,Harrison Township Ozone and NO/NOx Site,HT1,Highlands Senior High School - 1500 Pacific Av...,40.613864,-79.729569,t
2,6068,South Fayette,South Fayette Ozone Site,SF1,South Fayette Elementary School - 3640 Old Oak...,40.375647,-80.169931,t
3,6069,Lawrenceville,"Lawrenceville Ozone, and Met Site",LV1,Allegheny County Health Department - 301 39th ...,40.465433,-79.960742,t
4,6070,Liberty,Liberty Borough South Allegheny High School Site,NaN,South Allegheny High School - 2743 Washington ...,40.323856,-79.868064,t

In [19]:
# get the unique site names
site_df.site_name.unique()

array(['Fulton St. Fridge', 'Harrison Township', 'South Fayette',
       'Lawrenceville', 'Liberty', 'West Allegheny', 'Avalon',
       'Lawrenceville 2', 'Monroeville', 'North Braddock', 'Clairton',
       'Pittsburgh 8_Manchester', 'Lincoln', 'Parkway East',
       'Natrona Lead', 'Bridgeville', 'Liberty 2',
       'Glassport High Street', 'Flag Plaza', 'Court House', 'Opal Court',
       'West Mifflin', 'USS Clairton Sodar Site',
       '836 Fulton Street Office', 'Liberty Trailer'], dtype=object)

There is no 'Lawrencevill00:00'

In [20]:
# Unique site names in each DataFrame
main_sites = set(df['site'].unique())
reference_sites = set(site_df['site_name'].unique())

# Find sites in df that don't exist in site_df
unmatched_sites = main_sites - reference_sites
print(unmatched_sites)

{'Pittsburgh', 'Lawrencevill00:00'}

In [21]:
# locations that are in the site_df but not in the main df
unmatched_sites_2 = reference_sites - main_sites
print(unmatched_sites_2)

{'Bridgeville', 'Pittsburgh 8_Manchester', 'Liberty Trailer', '836 Fulton Street Office', 'Natrona Lead', 'Monroeville', 'West Allegheny'}

The following locations are in the site locations data file but not in the main pollution file.

'Bridgeville', 'West Allegheny', 'Pittsburgh 8_Manchester', 'Natrona Lead', 'Liberty Trailer', '836 Fulton Street Office', 'Monroeville'

The following locations are in the main pollution file but not in the site locations data file.

'Pittsburgh', 'Lawrencevill00:00'

In [22]:
# Check for records with location 'Lawrencevill00:00'
df['site'].value_counts().loc['Lawrencevill00:00']

1

In [23]:
# Identify the rows with 'Lawrencevill00:00'
df[df['site'] == 'Lawrencevill00:00']

,_id,datetime_est,site,parameter,is_valid,report_value,unit,unit_description,highest_flag,aqs_parameter_category
9426564,9470741,2024-10-04 05:00:00,Lawrencevill00:00,6.2,f,NaN,TRUE,NaN,<,Pittsburgh

This entry looks like like an error. We will go ahead to delete that entry

In [24]:
# delete the rows with 'Lawrencevill00:00'
df = df[df['site'] != 'Lawrencevill00:00']

In [25]:
# Identify 'Lawrenceville 2' site 
site_df[site_df['site_name'] == 'Lawrenceville 2']

,_id,site_name,description,air_now_mnemonic,address,latitude,longitude,enabled
7,6073,Lawrenceville 2,LV2 NCORE site,NaN,Allegheny County Health Department - 01 39th S...,40.465433,-79.960742,t

In [26]:
# Identify 'Lawrenceville' site 
site_df[site_df['site_name'] == 'Lawrenceville']

,_id,site_name,description,air_now_mnemonic,address,latitude,longitude,enabled
3,6069,Lawrenceville,"Lawrenceville Ozone, and Met Site",LV1,Allegheny County Health Department - 301 39th ...,40.465433,-79.960742,t

From a quick google maps search, the two are different from each other and does not appear to be an error.
There are two sensor devices in Lawrenceville.

In [29]:
# Get the Pitsburgh site in the site_df
site_df[site_df['site_name'] == 'Pittsburgh 8_Manchester']

,_id,site_name,description,air_now_mnemonic,address,latitude,longitude,enabled
11,6077,Pittsburgh 8_Manchester,NaN,NaN,Manchester Elementary School - 1612 Manhattan ...,40.456383,-80.026417,f

I infer that Pittsburgh 8_Manchester and Pittsburgh are the same.
'Bridgeville', 'West Allegheny', 'Natrona Lead', 'Liberty Trailer', '836 Fulton Street Office', and 'Monroeville' have no records in the main data file

In [30]:
# convert the site Pittsburgh 8_Manchester in the site_df to Pittsburgh
site_df['site_name'] = site_df['site_name'].replace('Pittsburgh 8_Manchester', 'Pittsburgh')

In [38]:
# find the locations in the site_df that are missing latitude and longitude 
missing_lat_long_2 = site_df[site_df['latitude'].isnull() | site_df['longitude'].isnull()]
# print some of the missing lat long
missing_lat_long_2

,_id,site_name,description,air_now_mnemonic,address,latitude,longitude,enabled
0,6066,Fulton St. Fridge,Sample Fridge at 836 Fulton St. Room 117,NaN,"836 Fulton Street Pittsburgh, PA 15233",NaN,NaN,t
20,6086,Opal Court,NaN,NaN,NaN,NaN,NaN,f
22,6088,USS Clairton Sodar Site,Sodar Rass Site,NaN,NaN,NaN,NaN,f
23,6089,836 Fulton Street Office,Allegheny County Health Department Air Quality...,NaN,"836 Fulton Street Pittsburgh, PA 15233",NaN,NaN,t

In [42]:
# impute the missing lat long for 836 Fulton Street Office and Fulton St.Fridge with the lat long of the Pittsburgh site from google maps
site_df.loc[site_df['_id'] == 6089, 'latitude'] = 40.4501916
site_df.loc[site_df['_id'] == 6089, 'longitude'] = -80.0233292
site_df.loc[site_df['_id'] == 6066, 'latitude'] = 40.4501916
site_df.loc[site_df['_id'] == 6066, 'longitude'] = -80.0233292

In [ ]:
# impute the missing lat long for Opal Court with the lat long of the Pittsburgh site from google maps
site_df.loc[site_df['_id'] == 6086, 'latitude'] = 40.621456
site_df.loc[site_df['_id'] == 6086, 'longitude'] = -79.7277765

In [50]:
# impute the missing lat long for USS Clairton Sodar Site with the lat long of the Pittsburgh site from google maps
site_df.loc[site_df['_id'] == 6088, 'latitude'] = 40.2995669
site_df.loc[site_df['_id'] == 6088, 'longitude'] = -79.8715045

In [51]:
# view the site_df again
missing_lat_long_2 = site_df[site_df['latitude'].isnull() | site_df['longitude'].isnull()]
missing_lat_long_2

Empty DataFrame
Columns: [_id, site_name, description, air_now_mnemonic, address, latitude, longitude, enabled]
Index: []

Merge the two datasets

In [52]:
# Merge the datasets on the site column
df_merged = df.merge(site_df, how='left', left_on='site', right_on='site_name')

# Display the result to confirm the merge
print(df_merged.head())

   _id_x datetime_est     site parameter is_valid  report_value     unit  \
0      1   2016-01-01  Lincoln      PM25        t         3.000    UG/M3
1      2   2016-01-01  Lincoln    PER_F2        t        67.000  PERCENT
2      3   2016-01-01  Liberty       SO2        t         0.001      PPM
3      4   2016-01-01  Liberty   SONICWS        t         6.900      MPH
4      5   2016-01-01  Liberty   SONICWD        t       259.000      DEG

             unit_description highest_flag aqs_parameter_category  _id_y  \
0  micrograms per cubic meter          NaN            Particulate   6078
1                     Percent          NaN                    NaN   6078
2           Parts Per Million            C    Criteria Pollutants   6070
3              miles per hour          NaN         Meteorological   6070
4                     Degrees          NaN         Meteorological   6070

  site_name                                       description  \
0   Lincoln                    Lincoln Borough PM-10 & PM-2.5
1   Lincoln                    Lincoln Borough PM-10 & PM-2.5
2   Liberty  Liberty Borough South Allegheny High School Site
3   Liberty  Liberty Borough South Allegheny High School Site
4   Liberty  Liberty Borough South Allegheny High School Site

  air_now_mnemonic                                            address  \
0              NaN                Bellbridge Road Elizabeth, PA 15037
1              NaN                Bellbridge Road Elizabeth, PA 15037
2              NaN  South Allegheny High School - 2743 Washington ...
3              NaN  South Allegheny High School - 2743 Washington ...
4              NaN  South Allegheny High School - 2743 Washington ...

    latitude  longitude enabled
0  40.308278 -79.869103       f
1  40.308278 -79.869103       f
2  40.323856 -79.868064       t
3  40.323856 -79.868064       t
4  40.323856 -79.868064       t

In [54]:
df_merged.head()

,_id_x,datetime_est,site,parameter,is_valid,report_value,unit,unit_description,highest_flag,aqs_parameter_category,_id_y,site_name,description,air_now_mnemonic,address,latitude,longitude,enabled
0,1,2016-01-01,Lincoln,PM25,t,3.000,UG/M3,micrograms per cubic meter,NaN,Particulate,6078,Lincoln,Lincoln Borough PM-10 & PM-2.5,NaN,"Bellbridge Road Elizabeth, PA 15037",40.308278,-79.869103,f
1,2,2016-01-01,Lincoln,PER_F2,t,67.000,PERCENT,Percent,NaN,NaN,6078,Lincoln,Lincoln Borough PM-10 & PM-2.5,NaN,"Bellbridge Road Elizabeth, PA 15037",40.308278,-79.869103,f
2,3,2016-01-01,Liberty,SO2,t,0.001,PPM,Parts Per Million,C,Criteria Pollutants,6070,Liberty,Liberty Borough South Allegheny High School Site,NaN,South Allegheny High School - 2743 Washington ...,40.323856,-79.868064,t
3,4,2016-01-01,Liberty,SONICWS,t,6.900,MPH,miles per hour,NaN,Meteorological,6070,Liberty,Liberty Borough South Allegheny High School Site,NaN,South Allegheny High School - 2743 Washington ...,40.323856,-79.868064,t
4,5,2016-01-01,Liberty,SONICWD,t,259.000,DEG,Degrees,NaN,Meteorological,6070,Liberty,Liberty Borough South Allegheny High School Site,NaN,South Allegheny High School - 2743 Washington ...,40.323856,-79.868064,t

In [55]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10116545 entries, 0 to 10116544
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   _id_x                   int64
 1   datetime_est            datetime64[ns]
 2   site                    object
 3   parameter               object
 4   is_valid                object
 5   report_value            float64
 6   unit                    object
 7   unit_description        object
 8   highest_flag            object
 9   aqs_parameter_category  object
 10  _id_y                   int64
 11  site_name               object
 12  description             object
 13  air_now_mnemonic        object
 14  address                 object
 15  latitude                float64
 16  longitude               float64
 17  enabled                 object
dtypes: datetime64[ns](1), float64(3), int64(2), object(12)
memory usage: 1.4+ GB

In [56]:
df_merged.latitude.unique()

array([40.308278 , 40.323856 , 40.402267 , 40.465433 , 40.437431 ,
       40.613864 , 40.375647 , 40.499789 , 40.443417 , 40.438369 ,
       40.326019 , 40.621456 , 40.294381 , 40.3629   , 40.456383 ,
       40.2995669, 40.4501916])

In [57]:
df_merged.latitude.isna().sum()

0

In [58]:
df_merged.longitude.isna().sum()

0